* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0 auto;
  padding: 0;
}

header, nav, footer {
  padding: 0.5%;
}

header {
  background: #bbbbbb;
  height: 10vh;
}

nav, footer {
  background: #aaaaaa;
  height:5vh;
}

.column {
  float: left;
  width: 15%;
  padding: 10px;
  height: 80vh;
}

.columnMain {
  float: left;
  width: 70%;
  padding: 10px;
  height: 80vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#aside_left_notes, #aside_right {
  background: #d4d4d4;
}

#main {
  background: #e4e4e4;
}

span {
  background: #61A8DC;
  color: rgb(255, 255, 255);
  font-size: 12px;
  width: 10%; 
  float: right;
  text-align: center;
}

ul {
  list-style: none;
}

li  {
width: 200px;   
display: block;
margin: 1px 1px 7px 1px;
background: #F7F5F2;
font-size: 13px;
color: #333;
padding: 5px 5px 5px 5px;
text-decoration: none;
border-left: 5px solid #61A8DC;
}

li a:hover { 
  background-color: #EFEFEF; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr {
  background-color: rgb(220, 233, 238);
}

tr:nth-child(even){
  background-color: rgb(255, 255, 255);
}

th {
  background-color: rgb(118, 177, 219);
  color: white;
}

